<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kmh574</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C08A557AE421E08907B410347B193FA58C0BD57F</string>
				<key>dateExpires</key>
				<string>31/05/2023</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
			</dict>
			<key>name</key>
			<string>kmh574.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>E873B24XVN</string>
				<key>name</key>
				<string>Adrien Humiliere</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
